@{ng('angular','angular-route', 'resource', 'route')}

<!DOCTYPE html>
<html ng-app="app">
<head>
    @{meta}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=10" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="viewport" content="width=1024, user-scalable=yes" />
    <meta name="robots" content="all,follow" />
    @{head}
    <title>Tarea Academica #1</title>
    <script src="//ajax.aspnetcdn.com/ajax/jQuery/jquery-3.2.1.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <base href="/">
    @{favicon('favicon.ico')}

</head>
<body>

    @{body}
    
</body>
</html>
